@{
    ViewData["Title"] = "Home Page";
    
}


@model List<blogdeneme.Data.Blog>
    
    
    <div class="text-center">
        <table>
            <tr>

                <th>Blog Başlığı</th>
                <th>Blog İçeriği</th>
                <th>Blog Detay</th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {


                    <tr>
                <td>@item.Title</td>
               <td>@item.Content</td>
                    <td><a class="btn btn-primary" asp-action="Details" asp-controller="Blog"  asp-route-slug="@item.Slug">Detay</a></td>



                    </tr>
                }
            </tbody>
        </table>
    </div>

    <br />
    <a class="btn btn-primary" asp-action="Create" asp-controller="Blog">Ekle</a>

@*
<script>
    var langSelect = document.getElementById("lang-select");
    var lang = getCookie("lang");
    if (lang != "") {
        langSelect.value = lang;
    }

    langSelect.onchange = function () {
        var lang = langSelect.value;
        document.cookie = "lang=" + lang;
        window.location.reload();
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return "";
    }
</script>*@











